.element__title {
    width: 100%;
    color: #000000;
    line-height: 1.2;
    font-weight: 900;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;
    margin: 0;
    max-width: calc(100% - 22px);
}