.header {
    padding: 48px 0 37px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 916px) {
    .header {
        padding: 28px 27px 30px;
    }
}
