.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid#FFFFFF;
  background: url(../../../images/plus.svg) no-repeat center;
  margin-left: 30px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
      margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  .profile__add-button {
      background-size: 16px 16px;
      width: 100%;
      margin: 0;
  }
}
