.profile__name {
color: #ffffff;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 19px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
.profile__name {
    font-size: 40px;
}
}

@media screen and (max-width: 400px) {
  .profile__name {
      font-size: 27px;
      margin: 5px 10px 0 28px;
  }
}