.form__input {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 100%;
  padding: 7px 0 9px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 420px) {
  .form__input {
      padding: 12px 0 9px;
  }
}
.form__input:not(:first-child) {
  margin-top: 20px;
}
