.popup__button-close {
  background: url(../../../images/close-icon.svg) no-repeat center;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -37px;
  right: -37px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  border: 0;
  background-size: contain;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 420px) {
  .popup__button-close {
      top: -30px;
      right: 0;
      width: 20px;
      height: 20px;
  }
}
