.element__like-button {
    width: 22px;
    height: 19px;
    border: 0;
    background: url(../../../images/heart.svg) no-repeat center;
    margin: auto;
    padding: 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.element__like-button:hover {
    opacity: 0.5;
}
