.profile__info {
	width: calc(100% - 330px);
    margin-right: auto;
}

@media screen and (max-width: 767px) {
.profile__info {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 32px;
}
}
@media screen and (max-width: 400px) {
	.profile__info {
	width: 100%;
	}
}